.about .compacompany_photo_section{
    width: 45%;
    float: left;

}

.about .about_right{
    width: 50%;
    float: right;
    padding-bottom: 50px;
}

.about_right .fast_1{
    font-family: var(--open-sans);
    font-size: 15px;
    text-align: left;
    line-height: 26px;
    margin-top: 4px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.about_right .last_1{
    font-family: var(--open-sans);
    font-size: 15px;
    text-align: left;
    line-height: 26px;
    margin-top: 4px;
    color: var(--secondary-color);
    margin-bottom: 55px;
    
}

.about_right_box > div{

    width: 45%;
    display: inline-block;
}

.about_right_box > div i{
    font-size: 35px;
    color: var(--primary-color);
}

.about_right_box > div span{
    font-size: 20px;
    color: var(--primary-color);
    vertical-align: top;
    padding-top: 5px;
    margin-left: 8px;
    font-family: var(--open-sans);
}

.about_right_box > div p{
    color: var(--secondary-color);
    font-family: var(--open-sans);
    line-height: 18px;
    padding-left: 53px;
    margin-bottom: 37px;
}

{
    
}
