.company_photo_section{
    width: 48%;
    float: left;

}

.about .about_right{
    width: 50%;
    float: right;
    padding-bottom: 50px;
}

.about_right .fast_1{
    font-family: var(--open-sans);
    font-size: 15px;
    text-align: left;
    line-height: 26px;
    margin-top: 4px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.about_right .last_1{
    font-family: var(--open-sans);
    font-size: 15px;
    text-align: left;
    line-height: 26px;
    margin-top: 4px;
    color: var(--secondary-color);
    margin-bottom: 55px;
    
}

.about_right_box > div{

    width: 45%;
    display: inline-block;
}

.about_right_box > div i{
    font-size: 35px;
    color: var(--primary-color);
}

.about_right_box > div span{
    font-size: 20px;
    color: var(--primary-color);
    vertical-align: top;
    padding-top: 5px;
    margin-left: 8px;
    font-family: var(--open-sans);
}

.about_right_box > div p{
    color: var(--secondary-color);
    font-family: var(--open-sans);
    line-height: 18px;
    padding-left: 53px;
    margin-bottom: 37px;
}

.company_photo{
    width: 49%;
    display: inline-block;
    position: relative;
}

.company_overly{
    position: absolute;
    width: 250px;
    height: 320px;
    background: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    opacity: ;
}

.company_photo:hover.company_overly{
    position: absolute;
    width: 250px;
    height: 320px;
    background: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    opacity: 0;
 !}



.company_overly a i{
    margin-left: 100px;
    background: var(--white-color);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
    transition: color .4s;
}

.company_overly:hover.company_overly a i{
    margin-left: 100px;
    background: var(--primary-color);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 32%;
    opacity: 1;
}

.company_overly p{
    display: inline-block;
    color: var(--white-color);
    text-transform: uppercase;
    font-family: var(--Open-sans);
    position: absolute;
    bottom: 0%;
    width: 100%;
    left: 0%;
    text-align: center;
    opacity: 0;
    transition: color .4s;
    
}

.company_overly:hover.company_overly p{
    display: inline-block;
    color: var(--white-color);
    text-transform: uppercase;
    font-family: var(--Open-sans);
    position: absolute;
    bottom: 40%;
    width: 100%;
    left: 0%;
    text-align: center;
    opacity: 1;
}

