.our-desgin .desgin{
    text-align: center;
    margin: 100px 0 50px 0;
    font-family: var(--open-sans);
}

.all{
    box-sizing: border-box;
    text-align: center;
}
.all button{
    display: inline;
    background: var(--white-color);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    transition: all .4s;
}

.all button:hover{
    background: var(--primary-color);
    color: var(--white-color);
}

.desgin_box_photo{
    margin-top: 20px;
}