.our-desgin .desgin{
    text-align: center;
    margin: 100px 0 50px 0;
    font-family: var(--open-sans);
}

.all{
    box-sizing: border-box;
    text-align: center;
}
.all button{
    display: inline;
    background: var(--white-color);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    transition: all .4s;
}

.all button:hover{
    background: var(--primary-color);
    color: var(--white-color);
}


.desgin_box_photo{
    width: 23%;
    display: inline-block;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
}

.desgin_photo_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .4s;
}

.desgin_box_photo:hover .desgin_photo_overlay{
    opacity: 1;
}
.desgin_photo_overlay a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    background: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    transition: all .4s;
}

.desgin_box_photo:hover a{
    top: 40%;
}

.desgin_box_photo img{
    width: 100%;
    margin-bottom: -3px;

}