:root{
    --primary-color: #EE770C;
    --secondary-color: #777777;
    --white-color: #fff;
    --open-sans: 'Open Sans', sans-serif;
    --raleway: 'Raleway',sans-serif;
    --fw-1: 400;
    --fw-2: 700;
    --fw-3: 600;
  
}

